@import 'tailwindcss';
@import '@nuxt/ui';
@plugin 'tailwind-scrollbar';

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --bg-default: white;
  --ui-bg: blue;
  /* Principais */
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #1e3a8a;
  --color-blue-500: #0b2258;
  --color-blue-600: #0a1e4f;
  --color-blue-700: #0a1420;
  --color-blue-800: #070f18;
  --color-blue-900: #050a12;
  --color-blue-950: #020508;

  --color-orange-50: #fff7ed;
  --color-orange-100: #ffedd5;
  --color-orange-200: #fed7aa;
  --color-orange-300: #fdba74;
  --color-orange-400: #fea533;
  --color-orange-500: #fd8d03;
  --color-orange-600: #e67f03;
  --color-orange-700: #cc7103;
  --color-orange-800: #a85b02;
  --color-orange-900: #7a4202;
  --color-orange-950: #4d2901;

  --color-section-bg-1: #f6fafc;
  --color-section-bg-2: #ffffff;

  --color-section-subtitle: #4b5563;
}
@layer components {
  .title-section {
    @apply text-4xl md:text-4xl lg:text-[44px] font-bold text-blue-500 mb-4 tracking-tight;
  }

  .subtitle-section {
    @apply text-lg text-[var(--color-section-subtitle)];
  }
}
